<div class="flex-1 p-4 overflow-y-auto">
    <div class="grid gap-0 overflow-hidden">
        <div *ngFor="let post of filteredPosts$ | async"
            class="border-gray-700 hover:bg-gray-700 hover:bg-opacity-30 border-l-gray-800 hover:border-l-primary border-l-4 border-b p-4 cursor-pointer"
            (click)="navigateToPost(post.id)">
            <h3 class="font-bold text-sm text-primary">{{ post.title }}
                <span *ngIf="post.new"
                    class="bg-blue-400 text-white text-xs font-semibold px-2 py-1 rounded-full ml-2">New</span>

            </h3>
            <p class="text-gray-500">{{ post.body | truncate:50 }}</p>
        </div>
    </div>
</div>
<div class="sticky bottom-0">
    <mat-paginator [hidePageSize]="true" [length]="totalPosts$ | async" [pageSize]="limit"
        [pageIndex]="currentPage$ | async" (page)="onPageChange($event)"></mat-paginator>
</div>